<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.javaweb.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.javaweb.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemTinTucServlet</servlet-name>
        <servlet-class>com.javaweb.controller.ThemTinTucServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimChuyenBayMotChangServlet</servlet-name>
        <servlet-class>com.javaweb.controller.TimChuyenBayMotChangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimChuyenBayKhuHoiServlet</servlet-name>
        <servlet-class>com.javaweb.controller.TimChuyenBayKhuHoiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChonChuyenBayServlet</servlet-name>
        <servlet-class>com.javaweb.controller.ChonChuyenBayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatVeMotChieuServlet</servlet-name>
        <servlet-class>com.javaweb.controller.DatVeMotChieuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatVeKhuHoiServlet</servlet-name>
        <servlet-class>com.javaweb.controller.DatVeKhuHoiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemTinTucServlet</servlet-name>
        <url-pattern>/ThemTinTucServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimChuyenBayMotChangServlet</servlet-name>
        <url-pattern>/TimChuyenBayMotChangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimChuyenBayKhuHoiServlet</servlet-name>
        <url-pattern>/TimChuyenBayKhuHoiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChonChuyenBayServlet</servlet-name>
        <url-pattern>/ChonChuyenBayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatVeMotChieuServlet</servlet-name>
        <url-pattern>/DatVeMotChieuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatVeKhuHoiServlet</servlet-name>
        <url-pattern>/DatVeKhuHoiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
