/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2016, 3:58:01 PM
    Author     : fpoly
*/

.navbar{
    margin-bottom: 0px;
}
.container{
    tab-size: 10px;
}
.inputdk{
    float: left;
}
.inputdn{
   float: right;
}
#enroll-step-link {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    padding-left: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 20px 6px 12px;
    font-size: 14px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ada598;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.padding10 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.row10 {
    margin-left: -8px !important;
    margin-right: -8px !important;
}
.col-md-8 {
    width: 66.66666667%;
}
legend {
    display: none;
}
legend {
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    border-bottom: 1px solid #e5e5e5;
}
fieldset, legend {
    padding: 0;
    border: 0;
}
.switcher-label {
    font-family: "OpenSans" !important;
    font-weight: 400;
    min-width: 100px;
    width: auto;
    background-color: #FFF;
    color: #333;
    font-size: 13px;
    display: block;
    padding: 3px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    line-height: 23px;
    transition: all 0.3s ease-in-out 0s;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.switched {
    background: #168fb0;
    color: #fff;
    border-color: #168fb0;
}
dt, kbd kbd, label {
    font-weight: 700;
}
.switcher-label:hover, .switcher-label input {
    cursor: pointer !important;
}
.form-group .form-smalltext {
    font-family: "OpenSans" !important;
    font-size: 11px;
    color: #666;
    clear: both;
    margin: -3px;
}
.move-top-label{
   margin: 5px 11px -2px -1px;
}
#idghichu{
    margin: 2px 11px -2px -1px;
        color: #1839b9;
}
.required {
    color: red;

}
form-group .form-title {
    text-align: right;
    padding-left: 0;
    padding-top: 10px !important;
    vertical-align: middle !important;
    font-family: "OpenSans-Bold";
    font-weight: normal !important;
}
#enroll-birth-date-label{
    text-align: left;
}